<launch>
  <node pkg="proxemics" type="proxemics_controller" name="proxemics_controller" output="screen">
    <param name="world_frame_id" value="/world"           type="str" />
    <param name="robot_frame_id" value="/robot/base_link" type="str" />
    <param name="human_frame_id" value="/human/base_link" type="str" />
    <param name="enable_tf_timeout"         value="true"  type="bool" />
    <param name="tf_timeout"                value="10.0"  type="double" />
    <param name="enable_goal_state"         value="true"  type="bool" />
    <param name="goal_range_robot_to_human" value="2.0"   type="double" />
    <param name="goal_angle_robot_to_human" value="0.0"   type="double" />
    <param name="goal_angle_human_to_robot" value="0.0"   type="double" />
    <param name="enable_speed_limits"       value="true"  type="bool" />
    <param name="min_speed_lin_x"           value="0.0"   type="double" />
    <param name="max_speed_lin_x"           value="1.2"   type="double" />
    <param name="min_speed_lin_y"           value="0.0"   type="double" />
    <param name="max_speed_lin_y"           value="1.2"   type="double" />
    <param name="min_speed_ang_z"           value="0.0"   type="double" />
    <param name="max_speed_ang_z"           value="360.0" type="double" />
    <param name="enable_accel_limits"       value="true"  type="bool" />
    <param name="max_accel_lin_x"           value="0.2"   type="double" />
    <param name="max_accel_lin_y"           value="0.2"   type="double" />
    <param name="max_accel_ang_z"           value="180.0" type="double" />
    <param name="enable_jerk_limits"        value="true"  type="bool" />
    <param name="max_jerk_lin_x"            value="40.0"  type="double" />
    <param name="max_jerk_lin_y"            value="40.0"  type="double" />
    <param name="max_jerk_ang_z"            value="9000.0" type="double" />
    <param name="enable_p_control"          value="true"  type="bool" />
    <param name="gain_p_lin_x"              value="2.0"   type="double" />
    <param name="gain_p_lin_y"              value="2.0"   type="double" />
    <param name="gain_p_ang_z"              value="3.0"   type="double" />
    <param name="enable_d_control"          value="true"  type="bool" />
    <param name="gain_d_lin_x"              value="0.5"   type="double" />
    <param name="gain_d_lin_y"              value="0.5"   type="double" />
    <param name="gain_d_ang_z"              value="1.0"   type="double" />

    <!--Remapping for Ava command velocity-->
    <remap from="/robot/cmd_vel" to="/ava/cmd_vel"/>
  </node>

  <!--<node pkg="proxemics" type="proxemics_goal_state_estimation" name="proxemics_goal_state_estimation"/>-->
</launch>

